<html>
    <head><title>order component</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="index6.css">

    </head>
   
    <body>
        <div class="orderbar">
            <div>ORDERS</div>
            <div></div>
            <div>ITEMS</div>
        </div>

        <div class="statusbar">
            <div>OUT OF STOCK</div>
            <div>BREAKFAST</div>
            <div>LUNCH</div>
            <div></div>
        </div>
        <div class="listcontainer">
        <div class="outofstock">
           <div class="pic"></div>
           <div class="description">
            <div></div>
            <div></div>
            <div></div>
            <div class="available">
                <div class="circle"></div>
                <div>item unavailable</div>
            </div>
           </div>
        </div>
        <div class="outofstock">
            <div class="pic"></div>
            <div class="description">
             <div></div>
             <div></div>
             <div></div>
             <div class="available">
                 <div class="circle"></div>
                 <div>item unavailable</div>
             </div>
            </div>
         </div>
         <div class="outofstock">
            <div class="pic"></div>
            <div class="description">
             <div></div>
             <div></div>
             <div></div>
             <div class="available">
                 <div class="circle"></div>
                 <div>item unavailable</div>
             </div>
            </div>
         </div>
         <div class="searchbar">
            <div style="float:left">Search item 
               
            </div>
            
         </div>
    </div>
    </body>
</html>