<html>
    <head><title>order component</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="index2.css">

    </head>
   
    <body>
        <div class="orderbar">
            <div>ORDERS</div>
            <div></div>
            <div>ITEMS</div>
        </div>

        <div class="statusbar">
            <div>NEW ORDERS</div>
            <div>PREPARING</div>
            <div>READY</div>
            <div></div>
        </div>
        <div class="ordercontainer">
        <div class="orderitem1">
             <div class="textcontainer">
                 <div class="text">Order no: <span> xxxx</span></div>
                 <div>NEW</div>
             </div>
            <div></div>
            <div></div>
            <div class="orderexpanded">
                <div class="item1"></div>
                <div class="item2"></div>
                <div class="item3"></div>
                <div class="item4"></div>
                <div class="quantity1"></div>
                <div class="quantity2"></div>
                <div class="quantity3"></div>
                <div class="quantity4"></div>
            </div>
            <div><img src="Vector.png" width="22.08px" height="21.02px">MARK AS PREPARING</div>
        </div>
        <div class="orderitems">
            <div class="textcontainer">
                <div class="text">Order no: <span> xxxx</span></div>
                <div>NEW</div>
            </div>
           <div></div>
           <div></div>
           <div><img src="Vector.png" width="22.08px" height="21.02px">MARK AS PREPARING</div>
       </div>
       <div class="orderitems">
        <div class="textcontainer">
            <div class="text">Order no: <span> xxxx</span></div>
            <div>NEW</div>
        </div>
       <div></div>
       <div></div>
       <div><img src="Vector.png" width="22.08px" height="21.02px">MARK AS PREPARING</div>
       </div>
     
    </div>
    </body>
</html>