body{
    height: 800px;
    display: flex;
    place-items: center;
    flex-direction: column;
    font-family: Poppins;
    overflow-y: hidden;
    
}
.orderbar{
    width: 280px;
    height: 22px;
    background-color: #FD8736;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 60px;
    color:white;
    place-items: center;
    font-weight: 700;
    font-size: 20px;
}

.orderbar :nth-child(1){
display: grid;
place-content: center;

}
.orderbar :nth-child(2){

    border: 2px solid rgba(255, 255, 255, 0.5);
    height: 50px;
    border-radius: 4px;
}
.orderbar :nth-child(3){
    display: grid;
    place-content: center;
    color: #FFFFFF59;

}
.statusbar{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px 0px 20px 20px;
    font-weight: 600;
    font-size: 10px;
    width: 340px;
    place-content: center;

}
.statusbar > div{
    border: 2px solid rgba(86, 86, 86, 0.5);
    border-radius: 4px;
    width: auto;
    height: 10px;
    padding: 5px 10px;
    color: #56565680;
    display: grid;
    place-content: center;

}
.statusbar :nth-child(1){
width: 80px; 
}
.statusbar :nth-child(2){
    border: 2px solid rgb(86, 86, 86);
    border-radius: 4px;
    color: #565656; 
     
}
.statusbar :nth-child(4){
    border-right: 2px solid white;
    padding: 5px 20px;
}

.orderitem1{
    display: grid;
    width: 280px;
    height: 90px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 20px;
    font-weight: 600;
    align-content: space-between;
}
.textcontainer{
    display: flex;
    justify-content: space-between;
}

.text{
    display: flex;
    flex-direction: row;
    word-spacing: 2px;
    gap: 0.5rem;
}
.text span{
    color:lightgray;
}
.ordercontainer{
    display: grid;
    grid-row-gap: 20px;
}
.orderitem1 :nth-child(2){
    width: 110px;
    height: 22px;
    background-color: #D9D9D9;
    border-radius: 4px;
}
.orderitem1 > .textcontainer :nth-child(2){
    display: grid;
    width: 64px;
    height: 22px;
    border: 1px solid  #BD68FF;
    border-radius: 4px;
    float:right;
    font-weight: 600;
    font-size: 10px;
    place-content: center;
    color:  #BD68FF;
    background-color: white;
}

.orderitem1 :nth-child(3){
    width: 220px;
    height: 22px;
    background-color: #D9D9D9;
    border-radius: 4px;
}
