<html>
    <head><title>order component</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="index.css">

    </head>
   
    <body>
        <div class="orderbar">
            <div>ORDERS</div>
            <div></div>
            <div>ITEMS</div>
        </div>

        <div class="statusbar">
            <div>NEW ORDERS</div>
            <div>PREPARING</div>
            <div>READY</div>
            <div></div>
        </div>
    </body>
</html>