<html>
    <head><title>order component</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="index5.css">

    </head>
   
    <body>
        <div class="orderbar">
            <div>ORDERS</div>
            <div></div>
            <div>ITEMS</div>
        </div>

        <div class="statusbar">
            <div>NEW ORDERS</div>
            <div>PREPARING</div>
            <div>READY</div>
            <div></div>
        </div>
        <div class="ordercontainer">
        <div class="orderitem1">
             <div class="textcontainer">
                 <div class="text">Order no: <span> xxxx</span></div>
                 <div>Served</div>
             </div>
            <div></div>
            <div></div>
        </div>
        <div class="orderitem1">
            <div class="textcontainer">
                <div class="text">Order no: <span> xxxx</span></div>
                <div>Served</div>
            </div>
           <div></div>
           <div></div>
       </div>
       <div class="orderitem1">
        <div class="textcontainer">
            <div class="text">Order no: <span> xxxx</span></div>
            <div>Served</div>
        </div>
       <div></div>
       <div></div>
       </div>
       <div class="orderitem1">
        <div class="textcontainer">
            <div class="text">Order no: <span> xxxx</span></div>
            <div>Served</div>
        </div>
       <div></div>
       <div></div>
       </div>
    </div>
    </body>
</html>